/* AUTH PAGE  */
.auth-page {
  min-height: 100vh;
  background: url("/gym-system-hero.jpg") center / cover no-repeat;
  position: relative;
  font-family: "Poppins", sans-serif;
}

/* Dark overlay */
.auth-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.auth-page .navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.auth-page .login-btn {
  display: none;
}

.auth-content {
  position: relative;
  z-index: 2;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form card */
.auth-form {
  background: rgba(255, 255, 255, 0.12);
  padding: 60px 30px 25px;
  border-radius: 12px;
  width: 410px;
  max-width: 90%;
  color: #fff;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.45);
}

/* Heading */
.auth-form h2 {
  margin-bottom: 25px;
  font-size: 2rem;
  font-weight: 700;
}

/* Inputs */
.auth-form input {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 22px;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
}

/* Button */
.auth-form button {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: #2f80ff;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.auth-form button:hover {
  background: #1c5fd4;
}

/* Error */
.auth-form .error {
  margin-top: 12px;
  color: #ffd2d2;
  font-size: 0.9rem;
}

.no-account {
  margin-top: 40px;
  color: #ccc;
  font-size: 0.9rem;
}

/* Mobile */
@media (max-width: 480px) {
  .auth-form {
    padding: 35px 20px;
  }

  .auth-form h2 {
    font-size: 1.6rem;
  }
}
