/*landing page*/
.landing {
  height: 100vh;
  background: url("/gym-system-hero.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  color: white;
  position: relative;
}

.overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
}


/* HERO */
.hero {
  flex: 1;
  display: flex;
  align-items: flex;
  padding: 10px 80px;
}

.hero-text {
  max-width: 520px;
}

.hero-text h1 {
  font-size: 52px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 15px;
  opacity: 0.85;
  line-height: 1.6;
  margin-bottom: 30px;
}

.primary-btn {
  background: #2f80ff;
  padding:10px 52px;
  border-radius: 30px;
  display: inline-block;
}
.primary-btn:hover{
  opacity: 0.8;
  box-shadow: 0px 0px 10px rgb(17, 17, 103);
  transition: all 1.2s;
}
/* FEATURES */
.features {
  display: flex;
  gap: 30px;
  padding: 40px 60px;
  flex-shrink: 0;
}

.feature-card {
  background: rgba(255, 255, 255, 0.08);
  padding: 25px;
  border-radius: 14px;
  width: 100%;
  border-left:1px solid rgba(47, 128, 255,0.3);
}

.feature-card h3 {
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 14px;
  opacity: 0.8;
}
/*  Responsive Landing Page  */

@media screen and (max-width: 1024px) {
  .hero {
    padding: 10px 40px;
  }

  .hero-text h1 {
    font-size: 42px;
  }

  .hero-text p {
    font-size: 14px;
  }

  .features {
    flex-direction: row;
    gap: 20px;
    padding: 30px 40px;
  }

  .primary-btn {
    padding: 10px 40px;
  }
}

/* Mobile: 480px to 767px */
@media screen and (max-width: 767px) {
  .landing {
    background-position: top center;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 90px 20px;
  }

  .hero-text h1 {
    font-size: 72px;
    line-height: 1.2;
  }

  .hero-text p {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .primary-btn {
    padding: 10px 32px;
    font-size: 14px;
  }

  .features {
    flex-direction: column;
    padding: 20px 20px;
    gap: 20px;
  }

  .feature-card {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
 
  .hero-text h1 {
    font-size: 46px;
  }

  .hero-text p {
    font-size: 15px;
  }

  .primary-btn {
    padding: 13px 58px;
  }

  .features {
    gap: 15px;
    padding: 15px 15px;
  }

  .feature-card {
    padding: 20px;
  }
}