/* NAVBAR */
.landing-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  width: 100%;
  z-index: 10;
}

.logo {
  color: #2f80ff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-actions {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-actions a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.login-btn {
  background: #2f80ff;
  padding: 8px 18px;
  border-radius: 6px;
  color: white;
}
