.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #1D1B1B;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  font-family: "Poppins", sans-serif;
}

.sidebar-logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  color: #2f80ff;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top:30px ;
}

.sidebar-link {
  color: white;
  text-decoration: none;
  font-size: 13px;
  transition: 0.3s;
}
/* Active link style */
.sidebar-link.active-link {
  font-weight: bold;
  background-color: #2f80ff;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  width: 100%;
  text-align: center;
}

.sidebar-link:hover {
  color: #173362;
}

.sidebar-logout {
  background-color: #071146;
  border: 1px solid #45464a;
  color: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  margin-top: auto;
  font-weight: 600;
  transition: 0.3s;
   box-shadow: 0px 0px 10px rgba(10, 10, 159, 0.397);
}

.sidebar-logout:hover {
  background-color: #1f0d81;
}
