.member-dashboard {
  display: flex;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: white;
  padding-left: 220px;
}

.dashboard-main {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 0; 
}


/* Top row */
.top-row {
  display: flex;
  gap: 20px;
  
}

.top-row .card {
  flex: 1;
  background: #1D1B1B;
  border-radius: 14px;
  padding: 50px 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.welcome-card .icon {
  font-size: 30px;
  margin-right: 12px;
}

.welcome-card .info strong {
  display: block;
  font-size: 18px;
}

.welcome-card .info p {
  font-size: 14px;
  color: #94a3b8;
}

.trainer-card {
  flex-direction: column;
  text-align: right;
}

.trainer-card span {
  font-size: 14px;
  color: #94a3b8;
}

/* Middle row */
.middle-row {
  display: flex;
  gap: 40px;
}

.attendance-card {
  flex: 1;
  background: #1D1B1B;
  border-radius: 14px;
  padding: 20px;
  text-align: center;
}

.attendance-card .circle {
  margin: 10px 0;
  font-size: 24px;
  color: #3b82f6;
}

.stats {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.stat-card {
  background: #1D1B1B;
  border-radius: 14px;
  padding: 30px 40px;
  text-align: center;
  height: 120px;
  margin:3% 0% 0% 7%;
}

.stat-card span {
  color: #94a3b8;
}

/* Bottom row */
.bottom-row {
  display: flex;
  gap: 20px;
}

.membership-card, .schedule-today-card {
  flex: 1;
  border-radius: 14px;
  padding: 20px;
  background: #1D1B1B;
  text-align: center;
}

.schedule-today-card {
  background: url('/assets/schedule-bg.jpg') center/cover no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
