/* ADMIN DASHBOARD */
.admin-dashboard {
  display: flex;
  min-height: 100vh;
  background-color: #0f0f0f;
  color: #ffffff;
}


.admin-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.admin-loading {
  color: #aaa;
  padding: 40px;
}


.admin-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 24px;
}

.admin-card {
  background: linear-gradient(145deg, #1c1c1c, #141414);
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.admin-card p {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 8px;
}

.admin-card h2 {
  font-size: 28px;
  font-weight: bold;
}


.admin-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.admin-box {
  background: linear-gradient(145deg, #1c1c1c, #141414);
  border-radius: 12px;
  padding: 20px;
  min-height: 280px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.admin-box h3 {
  margin-bottom: 16px;
  font-size: 16px;
}


.activity-list {
  list-style: none;
  padding: 0;
}
.admin-box-bottom{
  padding-bottom: 60px;
}
.activity-list li {
  padding: 10px 0;
  border-bottom: 1px solid #2a2a2a;
  font-size: 14px;
  color: #ddd;
}

.activity-list li:last-child {
  border-bottom: none;
}

.attendance-chart {
  display: flex;
  align-items: flex-end;
  gap: 14px;
}

.attendance-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.attendance-bar .bar {
  width: 100%;
  max-width: 24px;
  background: linear-gradient(180deg, #2f80ff, #1b4ed8);
  border-radius: 6px 6px 0 0;
  transition: 0.3s ease;
}

.attendance-bar .bar:hover {
  opacity: 0.85;
}

.attendance-bar span {
  margin-top: 8px;
  font-size: 12px;
  color: #aaa;
}
.dashboard-content {
  flex: 1;
  padding-left: 234px;
  padding-top: 30px;
  overflow-y: auto;
}

@media (max-width: 900px) {
  .admin-cards {
    grid-template-columns: 1fr;
  }

  .admin-bottom {
    grid-template-columns: 1fr;
  }
}