/* HEADER */
.members-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.members-header h1 {
  font-size: 22px;
  font-weight: 600;
}

.add-member-btn {
  background: #2f80ff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 9%;
}

.add-member-btn:hover {
  opacity: 0.9;
}

/*TABLE*/
.members-table {
  background: linear-gradient(145deg, #1c1c1c, #141414);
  border-radius: 12px;
  overflow: hidden;
}

.table-head,
.table-row {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
  padding: 14px 18px;
  font-size: 14px;
}

.table-head {
  color: #2f80ff;
  font-weight: 500;
  border-bottom: 1px solid #2a2a2a;
}

.table-row {
  border-bottom: 1px solid #2a2a2a;
  color: #ddd;
}

.table-row:last-child {
  border-bottom: none;
}

.edit-link {
  color: #aaa;
  cursor: pointer;
  font-size: 13px;
}

.edit-link:hover {
  color: #fff;
  text-decoration: underline;
}

/* LOADING */
.admin-loading {
  padding: 40px;
  color: #aaa;
}
.blurred > :not(.modal-overlay) {
  filter: blur(4px);
  pointer-events: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #1c1c1c;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  color: #fff;
}

.modal h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.modal-form input,
.modal-form select {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
  background: #2a2a2a;
  color: #fff;
}

.modal-form input::placeholder,
.modal-form select {
  color: #aaa;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-buttons button {
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background: #2f80ff;
  color: #fff;
}

.modal-buttons button:last-child {
  background: #aaa;
  color: #000;
}
.blurred > :not(.modal-overlay) {
  filter: blur(4px);
  pointer-events: none;
}
